.history
.DS_Store

node_modules

dist
lib
local
zstack-ui.local.code-workspace

.umi
.umi-production

package-lock.json
.code-workspace

dev.log
yarn-error.log

jest/coverage

coverage

engine/template/*

.yarn/*
.yarnrc.yml
.vscode